<img
  class="header"
  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6LjOxubpoox4CyYEhaUIOpJglcsnHOO-mo8iGiwxe-boNt1HW4g&s"
/>
<nav>
  <ul>
    <li *ngFor="let menuItem of menuList">
      <a href="#">{{menuItem.parent}}</a>
      <ul *ngIf="menuItem.childs != null" class="sous">
        <li *ngFor="let sousMenuItem of menuItem.childs">
          <a href="#">{{sousMenuItem.item}}</a>
        </li>
      </ul>
    </li>
  </ul>
  <marquee direction="right"
    >Le texte défile vers la droite Sold !! TV à 32 $ seulement
  </marquee>
</nav>
