<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <ng-template #condition1>Condition is invalid</ng-template>
  <div>
    <app-header></app-header>
  </div>
  <login></login>
  <div>
    <app-list-product></app-list-product>
  </div>
  <div>
    <app-add-product></app-add-product>
  </div>
  <div>
    <app-update-product></app-update-product>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
