<h2>Home</h2>

<div>
  On le sait toutes : le petit-déjeuner, c'est LE repas le plus important de la
  journée ! Parce qu'il est censé nous réveiller, mais surtout nous fournir
  l'énergie suffisante pour tenir toute la matinée au boulot sans ressentir de
  coup de barre ni d'envie de se jeter sur un paquet de chips à 11h. Mais s'il
  est très risqué de se passer de petit-déj' le matin, il peut également
  s'avérer dangereux de mettre n'importe quoi au menu de ce repas ! Eh oui : le
  matin, après une bonne nuit dans les bras de Morphée, notre estomac est comme
  notre compte en banque après la première quinzaine des soldes, désespérément
  vide ! Et comme notre organisme est encore au ralenti, il ne faudrait pas le
  brusquer non plus... C'est pourquoi le matin, quand on vient de se lever et
  qu'on est à jeun, il existe des aliments à privilégier (parce qu'ils vont
  chouchouter notre organisme et rendre notre réveil plus sympa), et d'autres à
  éviter (parce qu'ils nous agressent de l'intérieur et risquent de nous faire
  passer une mauvaise journée). Fourchette & Bikini nous en présente 20.
</div>
